<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hx.aisite.user.dao.UserDao">

    <!-- selectByName -->
    <select id="getBaseInfo" resultType="org.hx.aisite.user.entity.UserVo">
        SELECT
            U.ID,
            U.USER_ID,
            U.ACCOUNT,
            U.PASSWORD,
            U.USER_NAME,
            U.TEL_NUMBER,
            U.GENDER,
            DECODE(U.GENDER,
                '1', '男',
                '0', '女'
            ) GENDER_VALUE
        FROM
            USER U
        WHERE
            USER_ID = #{account,jdbcType=VARCHAR}
    </select>

    <select id="getUserByAccountAndUserType" resultType="org.hx.aisite.user.entity.UserVo">
        SELECT U.* FROM USER U WHERE ACCOUNT = #{account,jdbcType=VARCHAR} AND USER_TYPE = #{userType,jdbcType=VARCHAR}
    </select>
</mapper>
